<?xml version="1.0" encoding="utf-8"?>
<tXML>   
   <Header>    
     <Source>Host</Source>   
     <Action_Type>Create</Action_Type>
     <Message_Type>Item</Message_Type>
     <Company_ID>01</Company_ID>
     <Version>2012</Version>
   </Header>
   <Message>
     <Item>
       <ItemName><![CDATA[$!header["ItemName"]]]></ItemName>
       <BusinessUnit>01</BusinessUnit>
       <Description><![CDATA[$!header["Description"]]]></Description>
	   <BaseStorageUOM>Unit</BaseStorageUOM>
	   <UnitWeight><![CDATA[$!header["UnitWeight"]]]></UnitWeight>
	   <WeightUOM><![CDATA[$!header["WeightUOM"]]]></WeightUOM>
	   <UnitVolume><![CDATA[$!header["UnitVolume"]]]></UnitVolume>
	   <VolumeUOM><![CDATA[$!header["VolumeUOM"]]]></VolumeUOM>
	   <QtyUOM>Unit</QtyUOM>
	   <SoldInStores>1</SoldInStores> <!-- jrice I am confused about this field -->
	   <ColorDesc><![CDATA[$!header["ColorDesc"]]]></ColorDesc>
	   <ItemBarCode><![CDATA[$!header["ItemName"]]]></ItemBarCode>
       <StatusCode>0</StatusCode>
       <MarkForDeletion>0</MarkForDeletion>
       <ItemSupplierXrefList>
#foreach ( $detail in $header["details"] )	   
         <ItemSupplierXref>
           <SupplierItemBarcode><![CDATA[$!detail["SupplierItemBarcode"]]]></SupplierItemBarcode>
            <ScanQnty><![CDATA[$!detail["ScanQnty"]]]></ScanQnty>
            <ItemBarCode><![CDATA[$!detail["ItemBarCode"]]]></ItemBarCode>
           <MarkForDeletion>0</MarkForDeletion>
         </ItemSupplierXref>
#end
       </ItemSupplierXrefList>
       <ItemFacilityWMSList>
         <ItemFacilityWMS>
           <FacilityName><![CDATA[$!header["FacilityName"]]]></FacilityName>
           <LPNPerTier><![CDATA[$!header["LPNPerTier"]]]></LPNPerTier>
		   <ExcessWaveNeedProcessType><![CDATA[$!header["ExcessWaveNeedProcessType"]]]></ExcessWaveNeedProcessType>
           <MaxUnitsInDynamicActive><![CDATA[$!header["MaxUnitsInDynamicActive"]]]></MaxUnitsInDynamicActive>
           <MaxLPNsInDynamicActive><![CDATA[$!header["MaxLPNsInDynamicActive"]]]></MaxLPNsInDynamicActive>
           <MaxLPNsInDynamicCasePick><![CDATA[$!header["MaxLPNsInDynamicCasePick"]]]></MaxLPNsInDynamicCasePick>
           <MaxUnitsInDynamicCasePick><![CDATA[$!header["MaxUnitsInDynamicCasePick"]]]></MaxUnitsInDynamicCasePick>
		   <MiscNumeric1><![CDATA[$!header["MiscNumeric1"]]]></MiscNumeric1>
		   <NumberOfDynActvPickPerItem><![CDATA[$!header["NumberOfDynActvPickPerItem"]]]></NumberOfDynActvPickPerItem>
		   <AssignDynamicActivePickSite><![CDATA[$!header["AssignDynamicActivePickSite"]]]></AssignDynamicActivePickSite>
           <ItemAverageWeight><![CDATA[$!header["ItemAverageWeight"]]]></ItemAverageWeight>
           <DefaultWaveProcess>1</DefaultWaveProcess>
		   <VendorTaggedEPC>0</VendorTaggedEPC>
           <AllocationType>ACT</AllocationType>
		   <ViolateFifoAllocQtyMatch><![CDATA[$!header["ViolateFifoAllocQtyMatch"]]]></ViolateFifoAllocQtyMatch>
		   <ReplenishActiveFrom><![CDATA[$!header["ReplenishActiveFrom"]]]></ReplenishActiveFrom>
           <DefaultMinFromPrevLocnFlag><![CDATA[$!header["DefaultMinFromPrevLocnFlag"]]]></DefaultMinFromPrevLocnFlag>
		   <SlotNestEachesFlag>0</SlotNestEachesFlag>
		   <Slot3DSlottingFlag>0</Slot3DSlottingFlag>
		   <MiscShortAlpha1><![CDATA[$!header["MiscShortAlpha1"]]]></MiscShortAlpha1>
		   <AutoSubstituteLPN>0</AutoSubstituteLPN>
           <MarkForDeletion>0</MarkForDeletion>
         </ItemFacilityWMS>
	   </ItemFacilityWMSList>
	<ItemPackageList>
 		<ItemPackage>
		<PkgUOM>Packs</PkgUOM>
		<Quantity><![CDATA[$!header["Quantity"]]]></Quantity> 
		<Weight><![CDATA[$!header["Weight"]]]></Weight> 
		<WeightUOM><![CDATA[$!header["WeightUOMPack"]]]></WeightUOM>
		<UnitLength><![CDATA[$!header["UnitLength"]]]></UnitLength> 
		<UnitHeight><![CDATA[$!header["UnitHeight"]]]></UnitHeight> 
		<UnitWidth><![CDATA[$!header["UnitWidth"]]]></UnitWidth> 
		<DimensionUOM>Inch</DimensionUOM> 
		<UnitVolume><![CDATA[$!header["UnitVolumePack"]]]></UnitVolume> 
		<VolumeUOM><![CDATA[$!header["VolumeUOMPack"]]]></VolumeUOM> 
		<IsStandard>1</IsStandard> 
		<MarkForDeletion>0</MarkForDeletion> 
		</ItemPackage>
	</ItemPackageList>
 <ItemWmos>
		<LPNType>BOX</LPNType> <!-- jrice, I'm not sure what to do with this it is null in 2006-->
		<UnitPrice><![CDATA[$!header["UnitPrice"]]]></UnitPrice>
		<RetailPrice><![CDATA[$!header["RetailPrice"]]]></RetailPrice>
		<OperCode><![CDATA[$!header["OperCode"]]]></OperCode>
		<ConsPrtyDateCode><![CDATA[$!header["ConsPrtyDateCode"]]]></ConsPrtyDateCode> 
		<ConsPrtyDateWindow><![CDATA[$!header["ConsPrtyDateWindow"]]]></ConsPrtyDateWindow> 
		<ConsPrtyDateWindowIncr><![CDATA[$!header["ConsPrtyDateWindowIncr"]]]></ConsPrtyDateWindowIncr>
		<AllowRcptOlderItem>1</AllowRcptOlderItem> <!-- everything is Y so I am skipping this grab -->
		<MfgDateReqd><![CDATA[$!header["MfgDateReqd"]]]></MfgDateReqd> 
		<XpireDateReqd><![CDATA[$!header["XpireDateReqd"]]]></XpireDateReqd> 
		<ShipByDateReqd><![CDATA[$!header["ShipByDateReqd"]]]></ShipByDateReqd> 
		<LotReqd><![CDATA[$!header["LotReqd"]]]></LotReqd> 
		<ProdStatReqd><![CDATA[$!header["ProdStatReqd"]]]></ProdStatReqd> 
		<CntryOfOrgnReqd><![CDATA[$!header["CntryOfOrgnReqd"]]]></CntryOfOrgnReqd> 
		<PickWtTolType><![CDATA[$!header["PickWtTolType"]]]></PickWtTolType> <!-- this is never Q is it always null or P -->
		<PickWtTolAmnt><![CDATA[$!header["PickWtTolAmnt"]]]></PickWtTolAmnt>
		<StoreDept><![CDATA[$!header["StoreDept"]]]></StoreDept>
		<PromptForVendorItemNbr><![CDATA[$!header["PromptForVendorItemNbr"]]]></PromptForVendorItemNbr>
		<PromptPackQty><![CDATA[$!header["PromptPackQty"]]]></PromptPackQty>
		<EccnNbr><![CDATA[$!header["EccnNbr"]]]></EccnNbr>
		<ExpLicnNbr><![CDATA[$!header["ExpLicnNbr"]]]></ExpLicnNbr>
		<ExpLicnSymbol><![CDATA[$!header["ExpLicnSymbol"]]]></ExpLicnSymbol>
		<SrlNbrReq><![CDATA[$!header["SrlNbrReq"]]]></SrlNbrReq>
		<SrlNbrBrcdType><![CDATA[$!header["SrlNbrBrcdType"]]]></SrlNbrBrcdType>
		<MaxRcptQty><![CDATA[$!header["MaxRcptQty"]]]></MaxRcptQty>
		<MvCurrencyCode><![CDATA[$!header["MvCurrencyCode"]]]></MvCurrencyCode>
		<LPNDatePromptMethodFlag><![CDATA[$!header["LPNDatePromptMethodFlag"]]]></LPNDatePromptMethodFlag>
		<ProdCatgry><![CDATA[$!header["ProdCatgry"]]]></ProdCatgry>
		<NbrOfDynActivePickPerItem><![CDATA[$!header["NbrOfDynActivePickPerItem"]]]></NbrOfDynActivePickPerItem>
	</ItemWmos>
   </Item>
 </Message>
 </tXML>